/*
TEXT FORMATTING 
*/

/*
PAGE FORMATTING 
*/

/* Header container*/
.site-header {
  height: 3em;
  /*transition: background-color 0.3s ease, height 0.3s ease;*/
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: saturate(180%) blur(6px);
  position: fixed !important;
  top: 0;
  z-index: 9999;
  border: none !important;
  box-shadow: none !important;
}
